Source: ros-lyrical-septentrio-gnss-driver
Section: misc
Priority: optional
Maintainer: "Tibor Dome" <tibor.doeme@alumni.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libdiagnostic-msgs-dev, libgeographiclib-dev, libgeometry-msgs-dev, libnav-msgs-dev, libpcap0.8-dev, libsensor-msgs-dev, libtf2-dev, libtf2-eigen-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, python3-diagnostic-msgs, python3-geometry-msgs, python3-nav-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-diagnostic-msgs, ros-environment, ros-geometry-msgs, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-ros, ros-lyrical-gps-msgs, ros-lyrical-gtest-vendor, ros-lyrical-nmea-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rosidl-default-generators, ros-nav-msgs, ros-sensor-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/septentrio-gnss/septentrio_gnss_driver
Standards-Version: 3.9.2

Package: ros-lyrical-septentrio-gnss-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libdiagnostic-msgs-dev, libgeographiclib-dev, libgeometry-msgs-dev, libnav-msgs-dev, libpcap0.8-dev, libsensor-msgs-dev, libtf2-dev, libtf2-eigen-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, python3-diagnostic-msgs, python3-geometry-msgs, python3-nav-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-diagnostic-msgs, ros-geometry-msgs, ros-lyrical-ament-cmake-ros, ros-lyrical-gps-msgs, ros-lyrical-gtest-vendor, ros-lyrical-nmea-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rosidl-default-runtime, ros-nav-msgs, ros-sensor-msgs, ros-lyrical-ros-workspace
Description: ROSaic: C++ driver for Septentrio's GNSS and INS receivers
