Source: ros-lyrical-septentrio-gnss-driver
Section: misc
Priority: optional
Maintainer: Tibor Dome <tibor.doeme@alumni.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libgeographiclib-dev, libpcap0.8-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-ros, ros-lyrical-diagnostic-msgs, ros-lyrical-geometry-msgs, ros-lyrical-gps-msgs, ros-lyrical-gtest-vendor, ros-lyrical-nav-msgs, ros-lyrical-nmea-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-ros-environment, ros-lyrical-rosidl-default-generators, ros-lyrical-sensor-msgs, ros-lyrical-tf2, ros-lyrical-tf2-eigen, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/septentrio-gnss/septentrio_gnss_driver
Standards-Version: 3.9.2

Package: ros-lyrical-septentrio-gnss-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgeographiclib-dev, libpcap0.8-dev, ros-lyrical-ament-cmake-ros, ros-lyrical-diagnostic-msgs, ros-lyrical-geometry-msgs, ros-lyrical-gps-msgs, ros-lyrical-gtest-vendor, ros-lyrical-nav-msgs, ros-lyrical-nmea-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rosidl-default-runtime, ros-lyrical-sensor-msgs, ros-lyrical-tf2, ros-lyrical-tf2-eigen, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: ROSaic: C++ driver for Septentrio's GNSS and INS receivers
