Source: ros-rolling-septentrio-gnss-driver
Section: misc
Priority: optional
Maintainer: "Tibor Dome" <tibor.doeme@alumni.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libdiagnostic-msgs-dev, libgeographiclib-dev, libgeometry-msgs-dev, libnav-msgs-dev, libpcap0.8-dev, libsensor-msgs-dev, libtf2-dev, libtf2-eigen-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, python3-diagnostic-msgs, python3-geometry-msgs, python3-nav-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-diagnostic-msgs, ros-environment, ros-geometry-msgs, ros-nav-msgs, ros-rolling-ament-cmake, ros-rolling-ament-cmake-ros, ros-rolling-gps-msgs, ros-rolling-gtest-vendor, ros-rolling-nmea-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rosidl-default-generators, ros-sensor-msgs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/septentrio-gnss/septentrio_gnss_driver
Standards-Version: 3.9.2

Package: ros-rolling-septentrio-gnss-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libdiagnostic-msgs-dev, libgeographiclib-dev, libgeometry-msgs-dev, libnav-msgs-dev, libpcap0.8-dev, libsensor-msgs-dev, libtf2-dev, libtf2-eigen-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, python3-diagnostic-msgs, python3-geometry-msgs, python3-nav-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-diagnostic-msgs, ros-geometry-msgs, ros-nav-msgs, ros-rolling-ament-cmake-ros, ros-rolling-gps-msgs, ros-rolling-gtest-vendor, ros-rolling-nmea-msgs, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rosidl-default-runtime, ros-sensor-msgs, ros-rolling-ros-workspace
Description: ROSaic: C++ driver for Septentrio's GNSS and INS receivers
